html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #2C2F33; 
    color: #99AAB5; 
    font-size: 18px;
}


.discordButton {
    background-color: #7289DA; 
    border: none; 
    border-radius: 4px; 
    color:white; 
    font-size: 20px;
    transition: background-color 0.2s ease
}

.discordButton:hover{
    background-color: rgb(87, 104, 167);
    cursor: pointer;
}

.roundSquare {
    display: block;
    border-radius: 50%;
    transition: all 0.2s ease
}
.roundSquare:hover{
    border-radius: 20%;
  }

.zoomBox {
    display: block;
    border-radius: 20%;
    transition: all 0.3s ease
}
.zoomBox:hover{
    transform: scale(1.3, 1.3);
    cursor: pointer;
  }