img {border-radius: 20%;}
body {background-color: #2C2F33; color: #99AAB5; font-size: 18px;}
button {background-color: #7289DA; border: none; border-radius: 4px; color:white; font-size: 20px;}
tr { display: block; float: left; }
th, td { display: block; }