html {height: 100%; width: 100%; padding: 0px; margin: 0px;}
body {background-color: rgb(74, 78, 85); color: rgb(246, 246, 247); font-size: 18px; height: 100%; widows: 100%; padding: 0px; margin: 0px}
body, input, select, textarea { font-family: 'Noto Sans', sans-serif;}

@font-face {
    font-family: 'Whitney';
    src: url('https://fonts.googleapis.com/css?family=Noto+Sans');
}

.discordButton {
    height: 40px;
    background-color: #7289DA; 
    border: none; 
    border-radius: 4px; 
    color:white; 
    font-size: 20px;
    transition: background-color 0.2s ease
}

.discordButton:hover{
    background-color: rgb(87, 104, 167);
    cursor: pointer;
}

.channelButton {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 99%;
    border: none; 
    border-radius: 4px;
    text-align: left;
    color: rgb(114, 118, 125);
    font-size: 15px;
    vertical-align: middle;
    transition: background-color 0.2s ease
}

.channelButton:hover{
    background-color: rgb(66, 70, 77);
    color: rgb(246, 246, 247);
    cursor: pointer;
}

.invite-button {
    height: 40px;
    width: 64px;
    background-color: rgb(67, 181, 129); 
    border: none; 
    border-radius: 4px; 
    color:white; 
    font-size: 20px;
    transition: background-color 0.2s ease
}

.invite-button:hover{
    background-color: rgb(56, 148, 107);
    cursor: pointer;
}

.clickable:hover{
    cursor: pointer !important;
}

.roundSquare {
    display: block !important;
    border-radius: 50% !important;
    transition: all 0.2s ease !important;
}
.roundSquare:hover{
    border-radius: 30% !important;
    cursor: pointer !important;
  }

.selected-image {
    display: block !important;
    border-radius: 20% !important;
    transition: all 0.3s ease !important;
}

.zoomBox {
    width: 50%;
    height: 50%;
    display: block;
    border-radius: 20%;
    transition: all 0.3s ease
}
.zoomBox:hover{
    transform: scale(1.3, 1.3);
    cursor: pointer;
}

.centralContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 70%;
    width: 60%;
    height: 70%;
    top: 40%;
    left: 40%;
    margin: -12.5% 0 0 -21%;
    border-radius: 2%;
    background-color: rgb(54, 57, 63);
}

.scroll-content{
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;
    height: 100%;
}

@-moz-document url-prefix(){
    html,body{overflow:hidden !important;}
}

.scroll-content::-webkit-scrollbar{
    display: none;
}

.topContainer{
    box-sizing: border-box;
    width: 100%;
    height: 8%;
    opacity: 20;
    background-color: #23272A;
    margin: 0 auto 0 auto;
}

.accordion  {
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 27px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: none; 
    font-size: 20px;
    color: rgb(114, 118, 125);
    text-align: left;
    transition: all 0.2s ease;
}

.accordion:hover  {
    cursor: pointer;
    color: rgb(246, 246, 247);
}

.accordion::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

select:hover{
    background-color: rgb(34, 52, 119);
}