body {background-color: #2C2F33;; color: #99AAB5; font-size: 18px;}

.discordButton {
    background-color: #7289DA; 
    border: none; 
    border-radius: 4px; 
    color:white; 
    font-size: 20px;
    transition: background-color 0.2s ease
}

.discordButton:hover{
    background-color: rgb(87, 104, 167);
    cursor: pointer;
}

.invite-button {
    height: 40px;
    width: 64px;
    background-color: rgb(67, 181, 129); 
    border: none; 
    border-radius: 4px; 
    color:white; 
    font-size: 20px;
    transition: background-color 0.2s ease
}

.invite-button:hover{
    background-color: rgb(56, 148, 107);
    cursor: pointer;
}

.roundSquare {
    display: block !important;
    border-radius: 50% !important;
    transition: all 0.2s ease !important;
}
.roundSquare:hover{
    border-radius: 30% !important;
    cursor: pointer !important;
  }

.selected-image {
    display: block !important;
    border-radius: 20% !important;
    transition: all 0.3s ease !important;
}

.zoomBox {
    display: block;
    border-radius: 20%;
    transition: all 0.3s ease
}
.zoomBox:hover{
    transform: scale(1.3, 1.3);
    cursor: pointer;
}

.centralContainer{
    position: absolute;
    width: 960px;
    height: 540px;
    top: 50%;
    left: 50%;
    margin: -270px 0 0 -480px;
    border-radius: 2%;
    background-color: #2C2F33;
}

.scroll-content{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100px;
    height: 540px;
}

.serverList{
    background-color: rgb(32, 34, 37);
}

.scroll-content::-webkit-scrollbar{
    display: none;
   }

.topContainer{
    position:relative;
    display: flex;
    justify-content:center;
    align-items: center; 
    width: 100%;
    height: 64px;
    opacity: 20;
    background-color: #23272A;
    margin: 0 0 0 0;
}

.rightAlign{
    position: absolute;
    right: 1%;
}

.userIcon{
    margin: auto;
    height: 95%;
    border: 3px;
    padding: 10px;
    top: -25%;
}

.dropdown-content {
	font-family:'Merienda', cursive;
    display: block;
    margin-top: 5.5%;
    position: absolute;
    background-color: #36393E;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px 8px 8px 8px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition:all 500ms;
}

.dropdown-content a:hover {
    background-color: #22262b !important
}

.containerTable {
    border-collapse: collapse; 
    width: 100%; 
    height: 100%
}

.centralContainer {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    margin: -12.5% 0 0 -25%;
    border-radius: 2%;
    background-color: #2C2F33;
}

.iconList {
    position: relative;
    height: 100%;
    background-color:#23272A;
}

.guildTable {
    border-collapse: separate; border-spacing: 1em 1em
}

.toReversElement {
    width: 64px; 
    height: 64px; 
    border-radius: 50%; 
    transform: scale(1, 1);
}

.chosenElement{
    width: 64px;
    height: 64px;
    border-radius: 20%; 
    transform: scale(1.3, 1.3);

}

.guildIcon{
    width: 64px; heigth: 64px;
}